<main class="page__content">

<section class="section   section--mobile-large">
    <div class="container">
            <header class="page-header fadeInUp animated-thing animatedFadeInUp">
                <h1 class="page-header__title">Stagy for <strong><%= I18n.t("landing.roles.#{@role_name}.role-name") %></strong></h1>
                <p class="page-header__text"><%= I18n.t("landing.roles.#{@role_name}.subheader") %></p>
            </header>
    </div>
</section><div class="section">
    <div class="container">
        <div class="feature">
            <div class="feature__content">
                <div class="feature__image">
                    <div class="feature__image-wrapper">
                        <!-- <video src="/static/video/main.mp4" muted autoplay loop></video> -->

                        <div id="fullAnimation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><section class="section">
    <div class="container">
        <div class="target">
            <h2 class="target__section-title">How does it help <br><%= I18n.t("landing.roles.#{@role_name}.role-name") %>?</h2>
            <ul class="target-list  target-list--small-margin ">
                    <% @texts.each_with_index do |(header, text), index| %>
                        <li class="target-list__row <%= 'target-list__row--reverse' if index % 2 != 0 %>">
                            <div class="target-list__cell-left">
                                <h3 class="target-list__title"><%= header %></h3>
                            </div>
                            <div class="target-list__cell-right">
                                <p class="target-list__text"><%= text %></p>
                            </div>
                        </li>
                    <% end %>
            </ul>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="staging">
            <div class="staging__inner">
                <div class="staging__wrapper">
                    <div class="staging__left">
                        <div class="staging__left-top">
                            <span class="staging__title">Stagings made simple</span>
                            <p class="staging__text">Create unlimited on-demand environments for Your Demos, QA and Sandboxes
                            </p>
                        </div>
                        <div class="staging__left-bottom">
                                <a href="/sessions" class="btn btn--normal ">Get Started</a>
                        </div>

                    </div>
                    <div class="staging__right">
                        <div class="staging__right-wrapper">
                              <picture>
                            
                            
                                <source data-srcset="/static/images/landing/main/staging/staging.png, /static/images/landing/main/staging/staging@2x.png 2x" type="image/png">
                                <img class="lazy" data-sizes="auto" data-original="/static/images/landing/main/staging/staging.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt>
                              </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
